@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 800;
  src: local('Satoshi'), url("@/assets/fonts/Satoshi-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 600;
  src: local('Satoshi'), url("@/assets/fonts/Satoshi-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  src: local('Satoshi'), url("@/assets/fonts/Satoshi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Eudoxus";
  font-style: normal;
  font-weight: 900;
  src: local('Eudoxus'), url("@/assets/fonts/EudoxusSans-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Eudoxus";
  font-style: normal;
  font-weight: 800;
  src: local('Eudoxus'), url("@/assets/fonts/EudoxusSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Eudoxus";
  font-style: normal;
  font-weight: 600;
  src: local('Eudoxus'), url("@/assets/fonts/EudoxusSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Eudoxus";
  font-style: normal;
  font-weight: 400;
  src: local('Eudoxus'), url("@/assets/fonts/EudoxusSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Eudoxus";
  font-style: normal;
  font-weight: 200;
  src: local('Eudoxus'), url("@/assets/fonts/EudoxusSans-Light.woff2") format("woff");
}


